
# 01. 특정 폴더( .git) 안의 파일 다 제외
.git/
# 01. 특정 폴더( .pytest_cache) 안의 파일 다 제외
.pytest_cache/
# 01. 특정 폴더( .vscode) 안의 파일 다 제외
.vscode/
# 01. 특정 폴더( data) 안의 파일 다 제외
data/
#----------------------------------------------------------------------------------------

# 02. 특정 파일(00. OB Dev.txt) 제외
00. OB Dev.txt
# 02. 특정 파일(01_python_ws_pu_get.bat) 제외
01_python_ws_pu_get.bat
# 02. 특정 파일(02_python_ws_pu.bat) 제외
02_python_ws_pu.bat
# 02. 특정 파일(TEST.txt) 제외 추가[23.08.26, by 진태만]
TEST.txt
TEST_02.txt
#----------------------------------------------------------------------------------------

# 04. 특정 확장자 파일(*.json) 제외
*.json

# 04. 특정 확장자 파일(*.exe) 제외
*.exe

# 04. 특정 확장자 파일(*.bat) 제외
*.bat
#==============================================================================================================
